
.header {
  padding: 1rem;
  background: #f4f4f4;
}

.title {
  font-size: 2.5rem;
  text-decoration: none;
  color: #808080;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: .5rem;
  text-decoration: none;
  color: #a6a6a6;
  &:hover {
    color: #8c8c8c
  }
}

.active-nav-item {
  color: #000000;
}

@media only screen and (max-width: 600px) { 
  .title {
    font-size: 1.8rem;
  }
}